<div class="main-wrapper">
    <div>
        <app-banner></app-banner>
    </div>
    <div class="main-side-nav-container">
        <app-header></app-header>
        <mat-sidenav-container class="main-side-nav-container">
            <mat-sidenav
                mode="side"
                [opened]="isMenuOpen"
                autosize
                fxLayout="row"
            >
                <app-navigation></app-navigation>
            </mat-sidenav>
            <mat-sidenav-content
                class="main-content-container"
            >
                <div fxLayout="row">
                    <div
                    class="layout-wrapper">
                    Hello
                        <router-outlet></router-outlet>
                    </div>
                </div>
            </mat-sidenav-content>
        </mat-sidenav-container>
    </div>
</div>