<div class="main-wrapper">
    <div>
        <app-banner></app-banner>
    </div>
    <div>
        <app-header></app-header>
        <mat-sidenav-container>
            <mat-sidenav
                mode="side"
                opened
                autosize
                fxLayout="row"
            >
                <app-navigation></app-navigation>
            </mat-sidenav>
            <mat-sidenav-content>
                <div fxLayout="row">
                    <div>
                        <router-outlet></router-outlet>
                    </div>
                </div>
            </mat-sidenav-content>
        </mat-sidenav-container>
    </div>
</div>